@charset "utf-8";

$background-color: #244920;
$font-color: #f5f5f5;
$body-copy: 'Old Standard TT', serif;
$title-size: 90px;
$body-copy-size: 20px;
$header-size: 18px;
$header-font: 'Euphoria Script', cursive;

body {
  background-image: url('../images/bg2.png');
  background-repeat: repeat-y repeat-x;  
  text-align: center;
  font-family: $body-copy;
  color: $font-color; 
}

h1{
    font-family: $header-font;
    color: $font-color;
    font-size: $title-size;
  }

h1 a:hover{
  border-bottom: none;
}

p {
  font-family: $body-copy;
  color: $font-color;
  text-align: justify;
  font-size: $body-copy-size;}

ul{
  font-family: $body-copy;
  color: $font-color; 
  font-size: $header-size;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: auto;
  padding: 50px 0 20px 0;
  border-bottom: dotted $font-color 1pt;}

li{
  display: inline;
  list-style-type: none;
  padding: 0 20px 0 20px;
}

a:hover{
  color: #f5f5f5;
  border-bottom: dotted 1pt #f5f5f5;
}

.doc {
  font-size: 14px;
  margin: 0; }
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; }
.doc a {
  color: #f5f5f5; }
.doc a:hover {
  color: #f5f5f5; }

.index {
  p{
    color: $font-color;
    font-size: $body-copy-size;
  }
  img{
    border-radius: 2%;
    margin-bottom: 35px;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  }
}

.about {
  p{
    color: $font-color;
    font-size: $body-copy-size;
  }
  img{
    border-radius: 50%;
    max-width: 350px;
    max-height: 350px;
    margin-bottom: 25px;
  }
}

.music {
  .button{
    background: transparent;
    font-size: 30px;
  }
  .button:hover{
    border-bottom: dotted $font-color 1pt;
  }
}
    

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
