@charset "utf-8";

$background-color: #244920;
$font-color: #f5f5f5;
$title-size: 90px;
$body-copy-size: 20px;

body {
  background: $background-color;
  text-align: center;
  font-family: sans-serif; }

h1 {
  margin: 0; }

p {
  font-family: 'Old Standard TT', serif; }

.doc {
  font-size: 14px;
  margin: 0; }
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; }
.doc a {
  color: rgba(0, 0, 0, 0.3); }
.doc a:hover {
  color: #666; }

.index {
  h1{
    font-family: 'Euphoria Script', cursive;
    color: $font-color;
    font-size: $title-size;
  }
  
  p{
    color: $font-color;
    font-size: $body-copy-size;
  }
}
    

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}