@charset "UTF-8";
/* line 9, /home/chris/Code/antje/source/stylesheets/all.scss */
body {
  background-image: url("../images/bg2.png");
  background-repeat: repeat-y repeat-x;
  text-align: center;
  font-family: sans-serif; }

/* line 15, /home/chris/Code/antje/source/stylesheets/all.scss */
h1 {
  font-family: 'Euphoria Script', cursive;
  color: #f5f5f5;
  font-size: 90px; }

/* line 21, /home/chris/Code/antje/source/stylesheets/all.scss */
h1 a:hover {
  border-bottom: none; }

/* line 25, /home/chris/Code/antje/source/stylesheets/all.scss */
p {
  font-family: 'Old Standard TT', serif;
  color: #f5f5f5;
  font-size: 20px; }

/* line 30, /home/chris/Code/antje/source/stylesheets/all.scss */
ul {
  font-family: 'Old Standard TT', serif;
  color: #f5f5f5;
  font-size: 18px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: auto;
  padding: 50px 0 20px 0;
  border-bottom: dotted #f5f5f5 1pt; }

/* line 42, /home/chris/Code/antje/source/stylesheets/all.scss */
li {
  display: inline;
  list-style-type: none;
  padding: 0 20px 0 20px; }

/* line 48, /home/chris/Code/antje/source/stylesheets/all.scss */
a:hover {
  color: #f5f5f5;
  border-bottom: dotted 1pt #f5f5f5; }

/* line 53, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc {
  font-size: 14px;
  margin: 0; }

/* line 56, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; }

/* line 63, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc a {
  color: #f5f5f5; }

/* line 65, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc a:hover {
  color: #f5f5f5; }

/* line 69, /home/chris/Code/antje/source/stylesheets/all.scss */
.index p {
  color: #f5f5f5;
  font-size: 20px; }
/* line 74, /home/chris/Code/antje/source/stylesheets/all.scss */
.index img {
  border-radius: 50%;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75); }

/* line 87, /home/chris/Code/antje/source/stylesheets/all.scss */
.about p {
  color: #f5f5f5;
  font-size: 20px; }
/* line 92, /home/chris/Code/antje/source/stylesheets/all.scss */
.about img {
  border-radius: 50%;
  max-width: 350px;
  max-height: 350px;
  margin-bottom: 25px;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75); }

/* line 104, /home/chris/Code/antje/source/stylesheets/all.scss */
.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0);
    opacity: 0; }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1; }
  to {
    -webkit-transform: scale(1); } }
