@charset "UTF-8";
/* line 9, /home/chris/Code/antje/source/stylesheets/all.scss */
body {
  background: #244920;
  text-align: center;
  font-family: sans-serif; }

/* line 14, /home/chris/Code/antje/source/stylesheets/all.scss */
h1 {
  margin: 0; }

/* line 17, /home/chris/Code/antje/source/stylesheets/all.scss */
p {
  font-family: 'Old Standard TT', serif; }

/* line 20, /home/chris/Code/antje/source/stylesheets/all.scss */
ul {
  font-family: 'Old Standard TT', serif;
  color: #f5f5f5;
  font-size: 18px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin: auto;
  padding: 50px 0 20px 0;
  border-bottom: dotted #f5f5f5 1pt; }

/* line 32, /home/chris/Code/antje/source/stylesheets/all.scss */
li {
  display: inline;
  list-style-type: none;
  padding: 0 20px 0 20px; }

/* line 38, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc {
  font-size: 14px;
  margin: 0; }

/* line 41, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; }

/* line 48, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc a {
  color: rgba(0, 0, 0, 0.3); }

/* line 50, /home/chris/Code/antje/source/stylesheets/all.scss */
.doc a:hover {
  color: #666; }

/* line 54, /home/chris/Code/antje/source/stylesheets/all.scss */
.index h1 {
  font-family: 'Euphoria Script', cursive;
  color: #f5f5f5;
  font-size: 90px; }
/* line 60, /home/chris/Code/antje/source/stylesheets/all.scss */
.index p {
  color: #f5f5f5;
  font-size: 20px; }

/* line 69, /home/chris/Code/antje/source/stylesheets/all.scss */
.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0);
    opacity: 0; }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1; }
  to {
    -webkit-transform: scale(1); } }
