.small-12.large-6.large-centered.columns
  %ul
    %li 
      = link_to "music", "/music.html" 
    %li &#124;
    %li
      = link_to "about", "/about.html" 
    %li &#124;
    %li 
      = link_to "contact", "/contact.html" 
      
%h1 
  = link_to 'antje lang', '/'