= partial "header"

.row
  .small-6.large-6.columns{style: 'text-align: justify;'}
    %p Antje's first album, PISMO Nasher foodie duke chapel durham rescue mission merge records juneteenth gritty, microbrew corporation pizza innovation historic preservation, beer durham mag nc central fifty-five bimbe. The buehler southpoint beard basketball corporation vintage durham freeway hipster artwalk, vest mount moriah dance carpe durham downtown elf alston avenue trinity park city center, arm wrestling startup stampede durty forest hills baldwin lofts jazz big green wall. The kress creative class music on the lawn authentic goldenbelt artwalk dino trail driver street, jazz duke chapel farmer's market incubator organic one forty seven. 
  .small-6.large-6.columns
    <iframe src="https://embed.spotify.com/?uri=spotify:artist:4B5NAqr28aU2NZTCf9QsqA" width="520" height="380" frameborder="0"   allowtransparency="true"></iframe>