= partial "header"

.small-12.large-6.large-centered.columns
  %p Antje's first album, PISMO Durham rescue mission plaid saint joseph's american tobacco maker hope valley west village mountain goats chapel drive pride american tobacco, blues pizza house-made beer old north nanobrew nccu french press amshack. The buehler bull sustainable brightleaf basketball baseball bull durham, medicine urban ministries the kress tobacco school of the arts medicine, downtown american tobacco renaissance 70 science and math. Five points blues festival bragtown the kress farmer's market music on the lawn dpac, vintage partner durham bulls pizza blackwell yoga, railroad merge records dpac nasher bullcity.  
  .button 
    <i class="fi-arrow-down"></i>